/* STYLES */

/* Troubleshooting Styles */
/* div, nav, span, img, h1, h2, h3, footer {
  border: 1px solid black;
} */

/* Universal Styles */
body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background-color: rgb(176, 224, 230);
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(32, 64, 86);
}

h4 {
  font-size: 2rem;
  color: rgb(32, 64, 86);
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  color: rgb(74, 74, 74);
}

button {
  margin-bottom: 1rem;
}

/* Main Section Styles */
.container {
  padding-top: 5.25rem;
}

.card {
  background-color: rgb(32, 64, 86);
  border: 4px solid rgb(242, 242, 242);
  border-radius: 8px;
  font-size: 7rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 12.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 470px) {
  .card {
    font-size: 5.5rem;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.youwin {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 7rem;
  font-weight: bold;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.restart {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
